* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}
.center {
    margin: 0 auto;
    width: 90%;
}
div {
    background-repeat: no-repeat;
}
header {
    position: relative;
    height: 266px;
}
.burger {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 15px 15px #f4f8fa;
    margin-top: 57px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.burger:hover {
    box-shadow: 0 0 15px 15px #bcdaee;
    transition: 0.3s ease-in-out;
}
.burger .line {
    display: block;
    height: 2px;
    width: 18px;
    background-color: #000;
    margin: 0 auto;
}
.burger .line:nth-child(2) {
    margin: 5px auto;
}
.burger .line:first-child {
    margin-top: 22px;
}
.logo {
    display: inline-block;
    width: 412px;
    height: 412px;
    border-radius: 50%;
    box-shadow: 0 0 25px 60px #f4f8fa;
    position: absolute;
    left: calc(50% - 206px);
    top: -206px;
    text-align: center;
}
.logo .name {
    margin-top: calc(206px + 57px);
    color: #43a9ff;
    font-size: 48px;
    font-weight: 500;

}
.logo .desc {
    color: #eaebec;
    font-weight: bold;
    font-size: 18px;
}
.search {
    position: absolute;
    right: 0;
    text-align: center;
    line-height: 60px;
    font-size: 21px;
}
.section-two {
    margin-top: 127px;
    background-image: url(../images/background_head.png);
    background-position: top 125px center;
    text-align: center;
    padding-bottom: 950px;
}
h2 {
    font-size: 48px;
    font-weight: normal;
}
.subtitle {
    color: #dbdddf;
    font-size: 18px;
    margin-top: 25px;
}
.btn {
    text-decoration: none;
    color: #43a9ff;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0 0 15px 20px #f5f8fa;
    display: inline-block;
    margin-top: 138px;
    padding: 18px 42px;
    border-radius: 22px;
}
.btn:hover {
    box-shadow: 0 0 15px 20px #bcdaee;
    transition: 0.5s ease-in-out;
}
.btn:focus {
    box-shadow: 0 0 15px 20px #93bcd8;
}
.section-three {
    text-align: center;
    padding-bottom: 120px;
}
.blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.block-img-item {
    padding: 0 15%;
}
.block-img-item img {
    width: 45px;
    height: 45px;
    margin-top: 90px;
}
.block-img-item h4 {
    margin-top: 35px;
    font-size: 18px;
    font-weight: normal;
}
.block-img-item p {
    line-height: 24px;
    margin-top: 40px;
    tab-size: 14px;
}

.section-four {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section-four img {
    width: 100%;
}

.text-block {
    padding-top: 17%;
    background-color: #f7f8fb;
    padding-left: 16%;
    padding-right: 16%;

}
.text-block h2 {
    margin-bottom: 42px;
    display: inline-block;
}
.about-paragraph {
    color: #cacdd1;
    font-size: 16px;
    line-height: 36px;
}
.section-five-one {
    background-image: url('../images/Snowflake1.png');
    background-position: top -85px left 45px;  
}
.section-five-two {
    background-image: url('../images/Snowflake2.png');
    background-position: bottom -180px right -100px;
}
.section-five-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.music img {
    display: block;
    margin: 180px auto;
}
.section-five-grid h2 {
    color: #43a9ff;
}
.content-music {
    padding: 45% 0;
    padding-left: 15px;
    padding-right: 39%;
}
.chat img {
    display: block;
    margin: 0 auto;
    margin-top: -35px;
}
.content-chat {
    padding: 0 20%;
    padding-top: 190px;
}

.section-six {
    background-color: #f7f8fb;
}
.about-block {
    display: flex;
}
.john-doe {
    object-fit: cover;
}
.about {
    padding-top: 15%;
    padding-left: 8%;
}
.five-heading {
    color: #fe3254;
    margin-bottom: 50px;
}
.about p {
    margin-left: 17px;
    margin-bottom: 70px;
    display: block;
    width: 73%;
}
.name {
    font-size: 16px;
    font-weight: normal;
}
.profession {
    font-size: 16px;
    color: #cacdd1;
}
footer {
    padding-bottom: 1200px;
    background-image: url(../images/footer.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-top: 130px;
    text-align: center;
}


@media (max-width: 1750px) {
    .content-music {
        padding-right: 34%;
    }
    .content-chat {
        padding-left: 16%;
    }
    h2 {
        font-size: 38px;
    }
}
@media (max-width: 1320px) {
    .text-block {
        padding-top: 12%;
    }
    .john-doe {
        width: 40%;
    }
}
@media (max-width: 1200px) {
    .center {
        margin: 0 5%;
    }
    .secondImgBlock {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .text-block, .content-music, .content-chat {
        padding: 10% 16%;
        text-align: center;
    }
    .blocks {
        grid-template-columns: 1fr 1fr;
    }
    .section-four{
        grid-template-columns: 1fr;
    }
    .section-five-grid {
        grid-template-columns: 1fr;
    }
    .chat {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .section-five-grid img {
        margin: 0 auto;
    }
}
@media (max-width: 950px) {
    .about-block {
        display: grid;
        grid-template-columns: 1fr;
    }
    .john-doe {
        width: 100%;
    }
    .about {
        padding: 10% 0;
        text-align: center;
    }
    .about .about-paragraph {
        margin: 0 auto;
        margin-bottom: 10%;

    }
}
@media (max-width: 768px) {
    .logo {
        width: 206px;
        height: 206px;
        top: -100px;
        left: calc(50% - 103px);
    }
    .logo .name {
        font-size: 35px;
        margin-top: 103px;
    }
    .logo .desc {
        font-size: 14px;
    }
    h2 {
        font-size: 28px;
    }
    .section-two {
        margin-top: 0;
        padding-bottom: 400px;
        background-size: cover;
    }
    .section-three {
        padding-top: 30px;
    }
    .btn {
        margin-top: 60px;
    }
    .about-paragraph {
        font-size: 14px;
    }
    .blocks {
        grid-template-columns: 1fr;
    }
    .text-block .about-paragraph {
        margin: 0 5%;
    }
    .music img, .chat img {
        width: 70%;
    }
    footer {
        padding-top: 50px;
        padding-bottom: 800px;
        background-size: cover;
    }
}
@media (max-width: 450px) {
    .burger {
        margin-top: 160px;
    }
    .content-music, .content-chat, .text-block, .block-img-item {
        padding-left: 0;
        padding-right: 0;
    }
    .about .about-paragraph {
        margin: 0;
        margin-bottom: 10%;
        width: auto;

    }
}